<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/main.ejs') %>

        <div>
            <div class="max-h-screen/mhf sm:max-h-screen/hf h-screen/mhf sm:h-screen/hf overflow-y-scroll overflow-x-hidden work-sans flex flex-col justify-center gap-4 text-center items-center w-full sm:pl-4 dark:text-slate-100">
                
                <p class="text-2xl font-bold text-red-500">Administration</p>

                <p>
                    <p class="text-2xl font-bold dark:text-slate-700">Pictures</p>
                    <div><div class="font-bold">Total Pictures</div><%= stats.pictures.posted %></div>
                    <div><div class="font-bold">Total Likes</div><%= stats.pictures.likes %></div>
                    <div><div class="font-bold">Total Comments</div><%= stats.pictures.comments %></div>
                </p>

                <p>
                    <p class="text-2xl font-bold dark:text-slate-700">Members</p>
                    <div><div class="font-bold">Registered</div><%= stats.users.registered %></div>
                    <div><div class="font-bold">Activated</div><%= stats.users.enabled %></div>
                    <div><div class="font-bold">Last Registered</div><%= stats.users.last %></div>
                </p>

                <p>
                    <p class="text-2xl font-bold dark:text-slate-700">Levels</p>
                    <div><div class="font-bold">Newbies</div><%= stats.levels.newbie %></div>
                    <div><div class="font-bold">Bronze</div><%= stats.levels.bronze %></div>
                    <div><div class="font-bold">Silver</div><%= stats.levels.silver %></div>
                    <div><div class="font-bold">Gold</div><%= stats.levels.gold %></div>
                    <div><div class="font-bold">Platinum</div><%= stats.levels.plat %></div>
                    <div><div class="font-bold">Titanium</div><%= stats.levels.titan %></div>
                    <div><div class="font-bold">Palladium</div><%= stats.levels.pall %></div>
                    <div><div class="font-bold">Diamond</div><%= stats.levels.diamond %></div>
                    <div><div class="font-bold">Antimatter</div><%= stats.levels.anti %></div>
                </p>

                <p>
                    <p class="text-2xl font-bold dark:text-slate-700">Roles</p>
                    <div><div class="font-bold">Admin</div><%= stats.roles.admins %></div>
                    <div><div class="font-bold">Moderator</div><%= stats.roles.modos %></div>
                    <div><div class="font-bold">User</div><%= stats.roles.users %></div>
                    <div><div class="font-bold">Banned</div><%= stats.roles.bans %></div>
                </p>

                <a href="/admin/users"
                    class="work-sans transition duration-200 w-full sm:w-auto text-gray-700 dark:text-red-600 hover:text-slate-100 border-red-600 bg-slate-100 hover:bg-red-500 dark:bg-transparent dark:hover:bg-red-500 dark:hover:text-slate-100 hover:shadow-2xl active:shadow-2xl active:translate-y-2 border-2 rounded-full p-3">
                    <i class="fa-solid fa-users-gear text-xl xl:text-2xl 2xl:text-4xl text-center"> 
                        Manage Members
                    </i>
                </a>

            </div>
        </div>
        </main>

        <%- include('../includes/footer.ejs') %>